---
  layout: base
---

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <h2>Projects</h2>
        <br/>

        <button id="python" name="python">Python</button>
        <button id="java" name="python">Java</button>

        {% include projects/python.html %}

        {% include projects/java.html %}

        {% include projects/bash.html %}

        {% include projects/ruby.html %}

        {% include projects/perl.html %}

    </section>
</div>