---
layout: base
---

<div id="header_wrap" class="outer">
    <header class="inner">
        <div>
            <h1 id="project_title">Seppaleinens repositories</h1>
        </div>
    </header>
</div>

<div id="main_content_wrap" class="outer">

    <section id="main_content" class="inner">

        <h2>Projects</h2>
        <br/>

        <button id="python" name="lang">Python</button>
        <button id="java"   name="lang">Java</button>
        <button id="bash"   name="lang">Bash</button>
        <button id="ruby"   name="lang">Ruby</button>
        <button id="perl"   name="lang">Perl</button>

        {% include projects/python.html %}

        {% include projects/java.html %}

        {% include projects/bash.html %}

        {% include projects/ruby.html %}

        {% include projects/perl.html %}

    </section>
</div>