<section id="section_java" class="">

    <div>
        <h3>Series</h3>
        <a href="https://travis-ci.org/seppaleinen/series">
            <img alt="Travis" src="https://travis-ci.org/seppaleinen/series.svg" data-bindattr-817="817" title="Build Status Images"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/series?branch=master'>
            <img src='https://coveralls.io/repos/seppaleinen/series/badge.svg?branch=master' alt='Coverage Status' />
        </a>
        <a href="https://scan.coverity.com/projects/4827">
            <img alt="Coverity Scan Build Status" src="https://scan.coverity.com/projects/4827/badge.svg?flat=1">
        </a>
        <p>
            A java project for keeping up to date with tv-shows on your computer
        </p>
        <a href="https://github.com/seppaleinen/series">View series on GitHub</a>
    </div>

    <br/>

</section>
