<section id="section_python" class="">

    <div>
        <h3>Djangoblog</h3>
        <a href="https://travis-ci.org/seppaleinen/djangoblog">
            <img alt="Travis" src="https://travis-ci.org/seppaleinen/djangoblog.svg" data-bindattr-817="817" title="Build Status Images"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/djangoblog?branch=master'>
            <img src='https://coveralls.io/repos/seppaleinen/djangoblog/badge.svg?branch=master' alt='Coverage Status' />
        </a>
        <a href="https://codecov.io/github/seppaleinen/djangoblog?branch=master">
            <img src="https://codecov.io/github/seppaleinen/djangoblog/coverage.svg?branch=master" alt="Coverage via codecov.io" />
        </a>
        <a href="https://landscape.io/github/seppaleinen/djangoblog/master">
            <img alt="Code Health" src="https://landscape.io/github/seppaleinen/djangoblog/master/landscape.svg?style=flat"/>
        </a>
        <a href="https://requires.io/github/seppaleinen/djangoblog/requirements/?branch=master">
            <img src="https://requires.io/github/seppaleinen/djangoblog/requirements.svg?branch=master" alt="Requirements Status" />
        </a>
        <p>
            A python project with the django-framework for keeping git repositories up to date and manage compilations and deployment, similar to the python-project but with UI.
        </p>
        <a href="https://github.com/seppaleinen/djangoblog">View djangoblog on GitHub</a>
    </div>

    <br/>

    <div>
        <h3>local-compiler</h3>
        <a href="https://travis-ci.org/seppaleinen/local-compiler">
            <img alt="Travis" src="https://travis-ci.org/seppaleinen/local-compiler.svg?branch=master">
        </a>
        <a href='https://coveralls.io/github/seppaleinen/local-compiler?branch=master'>
            <img src='https://coveralls.io/repos/seppaleinen/local-compiler/badge.svg?branch=master&service=github' alt='Coverage Status' />
        </a>
        <a href="https://codecov.io/github/seppaleinen/local-compiler?branch=master">
            <img src="https://codecov.io/github/seppaleinen/local-compiler/coverage.svg?branch=master" alt="Coverage via Codecov" />
        </a>
        <a href="https://landscape.io/github/seppaleinen/local-compiler/master">
            <img alt="Code Health" src="https://landscape.io/github/seppaleinen/local-compiler/master/landscape.svg?style=flat"/>
        </a>
        <a href="https://requires.io/github/seppaleinen/local-compiler/requirements/?branch=master">
            <img src="https://requires.io/github/seppaleinen/local-compiler/requirements.svg?branch=master" alt="Requirements Status" />
        </a>
        <p>
            To be used as a library for automating compiling, version control and server integration for other projects
        </p>
        <a href="http://seppaleinen.github.io/local-compiler">View local-compiler on GitHub</a>
    </div>

    <br/>

    <div>
        <h3>Flask</h3>
        <a href="https://travis-ci.org/seppaleinen/flask">
            <img alt="Travis" src="https://travis-ci.org/seppaleinen/flask.svg" data-bindattr-817="817" title="Build Status Images"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/flask?branch=master'>
            <img src='https://coveralls.io/repos/seppaleinen/flask/badge.svg?branch=master' alt='Coverage Status' />
        </a>
        <a href="https://codecov.io/github/seppaleinen/flask?branch=master">
            <img src="https://codecov.io/github/seppaleinen/flask/coverage.svg?branch=master" alt="Coverage via codecov.io" />
        </a>
        <a href="https://landscape.io/github/seppaleinen/flask/master">
            <img alt="Code Health" src="https://landscape.io/github/seppaleinen/flask/master/landscape.svg?style=flat"/>
        </a>
        <a href="https://requires.io/github/seppaleinen/flask/requirements/?branch=master">
            <img src="https://requires.io/github/seppaleinen/flask/requirements.svg?branch=master" alt="Requirements Status" />
        </a>
        <p>
            A python project for trying out the flask-framework.
        </p>
        <a href="http://seppaleinen.github.io/flask">View flask on GitHub</a>
    </div>

    <br/>

    <div>
        <h3>Python</h3>
        <a href="https://travis-ci.org/seppaleinen/python">
            <img alt="Travis" src="https://travis-ci.org/seppaleinen/python.svg" data-bindattr-817="817" title="Build Status Images"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/python?branch=master'>
            <img src='https://coveralls.io/repos/seppaleinen/python/badge.svg?branch=master' alt='Coverage Status' />
        </a>
        <a href="https://codecov.io/github/seppaleinen/python?branch=master">
            <img src="https://codecov.io/github/seppaleinen/python/coverage.svg?branch=master" alt="Coverage via codecov.io" />
        </a>
        <a href="https://landscape.io/github/seppaleinen/python/master">
            <img alt="Code Health" src="https://landscape.io/github/seppaleinen/python/master/landscape.svg?style=flat"/>
        </a>
        <a href="https://requires.io/github/seppaleinen/python/requirements/?branch=master">
            <img src="https://requires.io/github/seppaleinen/python/requirements.svg?branch=master" alt="Requirements Status" />
        </a>
        <p>
            A python project for a terminal-based application to manage git repositories and compiling
        </p>
        <a href="https://github.com/seppaleinen/python">View python on GitHub</a>
    </div>

    <br/>

</section>