<section id="section_ruby" class="">

    <div>
        <h3>Ruby</h3>
        <a href="https://travis-ci.org/seppaleinen/helloruby">
            <img alt="Travis" title="Build Status Images" src="https://travis-ci.org/seppaleinen/helloruby.svg"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/helloruby'>
            <img src='https://coveralls.io/repos/seppaleinen/helloruby/badge.svg' alt='Coverage Status' />
        </a>
        <a href="https://codeclimate.com/github/seppaleinen/helloruby">
            <img alt="Codeclimate health" src="https://codeclimate.com/github/seppaleinen/helloruby/badges/gpa.svg" />
        </a>
        <a href="https://codeclimate.com/github/seppaleinen/helloruby/coverage">
            <img alt="Codeclimate coverage" src="https://codeclimate.com/github/seppaleinen/helloruby/badges/coverage.svg" />
        </a>
        <a href="https://hakiri.io/github/seppaleinen/helloruby/master">
            <img alt="Hakiri.io" src="https://hakiri.io/github/seppaleinen/helloruby/master.svg" />
        </a>
        <a href="https://inch-ci.org/github/seppaleinen/helloruby">
            <img alt="Inch-ci" src="https://inch-ci.org/github/seppaleinen/helloruby.svg?branch=master&style=flat" />
        </a>
        <a href='https://gemnasium.com/seppaleinen/helloruby'>
            <img src="https://gemnasium.com/seppaleinen/helloruby.svg" alt="Dependency Status" />
        </a>
        <p>
            A helloworld template in ruby.
        </p>
        <a href="http://seppaleinen.github.io/helloruby">View helloruby on GitHub</a>
    </div>

    <br/>

    <div>
        <h3>Torrentify</h3>
        <a href="https://travis-ci.org/seppaleinen/torrentify">
            <img alt="Travis" title="Build Status Images" src="https://travis-ci.org/seppaleinen/torrentify.svg"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/torrentify'>
            <img src='https://coveralls.io/repos/seppaleinen/torrentify/badge.svg' alt='Coverage Status' />
        </a>
        <a href="https://codeclimate.com/github/seppaleinen/torrentify">
            <img alt="Codeclimate health" src="https://codeclimate.com/github/seppaleinen/torrentify/badges/gpa.svg" />
        </a>
        <a href="https://codeclimate.com/github/seppaleinen/torrentify/coverage">
            <img alt="Codeclimate coverage" src="https://codeclimate.com/github/seppaleinen/torrentify/badges/coverage.svg" />
        </a>
        <a href="https://hakiri.io/github/seppaleinen/torrentify/master">
            <img alt="Hakiri.io" src="https://hakiri.io/github/seppaleinen/torrentify/master.svg" />
        </a>
        <a href="https://inch-ci.org/github/seppaleinen/torrentify">
            <img alt="Inch-ci" src="https://inch-ci.org/github/seppaleinen/torrentify.svg?branch=master&style=flat" />
        </a>
        <a href='https://gemnasium.com/seppaleinen/torrentify'>
            <img src="https://gemnasium.com/seppaleinen/torrentify.svg" alt="Dependency Status" />
        </a>
        <p>
            An app for scraping torrent-sites for torrents in ruby.
        </p>
        <a href="http://seppaleinen.github.io/torrentify">View torrentify on GitHub</a>
    </div>

    <br/>

    <div class="ruby">
        <h3>Torrentify-client</h3>
        <a href="https://travis-ci.org/seppaleinen/torrentify-cli">
            <img alt="Travis" title="Build Status Images" src="https://travis-ci.org/seppaleinen/torrentify-cli.svg"/>
        </a>
        <a href='https://coveralls.io/r/seppaleinen/torrentify-cli'>
            <img src='https://coveralls.io/repos/seppaleinen/torrentify-cli/badge.svg' alt='Coverage Status' />
        </a>
        <a href="https://codeclimate.com/github/seppaleinen/torrentify-cli">
            <img alt="Codeclimate health" src="https://codeclimate.com/github/seppaleinen/torrentify-cli/badges/gpa.svg" />
        </a>
        <a href="https://codeclimate.com/github/seppaleinen/torrentify-cli/coverage">
            <img alt="Codeclimate coverage" src="https://codeclimate.com/github/seppaleinen/torrentify-cli/badges/coverage.svg" />
        </a>
        <a href="https://hakiri.io/github/seppaleinen/torrentify-cli/master">
            <img alt="Hakiri.io" src="https://hakiri.io/github/seppaleinen/torrentify-cli/master.svg" />
        </a>
        <a href="https://inch-ci.org/github/seppaleinen/torrentify-cli">
            <img alt="Inch-ci" src="https://inch-ci.org/github/seppaleinen/torrentify-cli.svg?branch=master&style=flat" />
        </a>
        <a href='https://gemnasium.com/seppaleinen/torrentify-cli'>
            <img src="https://gemnasium.com/seppaleinen/torrentify-cli.svg" alt="Dependency Status" />
        </a>
        <p>
            A terminal client for torrentify in ruby
        </p>
        <a href="http://seppaleinen.github.io/torrentify-cli">View torrentify-cli on GitHub</a>
    </div>

    <br/>

</section>